/* ###################Body Contents####################### Raju*/

html {
    font-size: 62.5%;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}


/* Carousel Section */

.stylingcs {
    background-color: #88BDBC;
}

.carouselcs {
    font-family: "Montserrat";
    text-align: center;
}

.dogcs {
    width: 10%;
    border-radius: 100%;
    margin: 10px;
    margin-left: 45%;
    margin-bottom: 3%;
}


/* Features Section */

.featurescs {
    position: relative;
}

.feature-box {
    padding: 4.5%;
}

.f1 {
    margin-top: 15px;
}

.feature-title {
    font-size: 2rem;
    margin-left: 50px;
}

.f3 {
    margin-top: 10px;
}

.f2 {
    margin-left: 115px;
}

.p2 {
    margin-left: 75px;
}

.f1 {
    margin-left: 110px;
    margin-top: auto;
}

.p1 {
    margin-left: 110px;
}

.icon {
    color: #88BDBC;
    margin-bottom: 20px;
    margin-left: 110px;
}

.icon:hover {
    color: #254E58;
}

.c1 {
    margin-left: 200px;
}

.c2 {
    margin-left: 180px;
    margin-bottom: 20px;
}


/* Footer Section */

.footer-distributed {
    background: #112D32;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 20px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}


/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #88BDBC;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #88BDBC;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 100%;
    margin-left: 100px;
}

.footer-distributed .footer-center i {
    background-color: #88BDBC;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #88BDBC;
    text-decoration: none;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 100%;
    margin-left: 100px;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #88BDBC;
    font-size: 13px;
    font-weight: normaL;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: black;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* ###################Navbar Styles####################### Dadu*/


/* :root {} */

.head {
    height: 60rem;
    position: relative;
}

.head::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../public/images/doggo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}


/*Navbar*/

.nav {
    font-size: 2rem;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    padding-left: 10rem;
}

.list ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list ul li {
    list-style: none;
    margin: 0 1rem;
    padding: 1rem;
}

.list ul li a {
    text-decoration: none;
    color: red;
    display: inline-block;
    width: 15rem;
    height: 3rem;
    text-align: center;
}

.list ul li a:hover {
    text-decoration: none;
    animation-name: hov;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.hamburger {
    display: none;
}

.init-txt {
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.init-txt div h1 {
    font-size: 7rem;
    text-align: center;
}

.init-txt div p {
    font-size: 5rem;
    text-align: center;
}

@keyframes hov {
    0% {
        color: red;
    }
    100% {
        color: #fff;
        background-color: red;
        border-radius: 32px;
    }
}

@media all and (max-width: 768px) {
    .head {
        width: 100vw;
        height: 60rem;
        position: relative;
    }
    .head::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../public/images/doggo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;
        z-index: -1;
    }
    /*Navbar*/
    .nav {
        font-size: 2rem;
        padding: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo img {
        padding-left: 2rem;
    }
    .list {
        display: none;
    }
    .active ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .active ul li {
        list-style: none;
        margin: 0 1rem;
        padding: 1rem;
    }
    .active ul li a {
        text-decoration: none;
        color: red;
    }
    .active ul li a:active {
        color: red;
    }
    .hamburger {
        display: block;
    }
    .init-txt {
        height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .init-txt div h1 {
        font-size: 4rem;
        text-align: center;
    }
    .init-txt div p {
        font-size: 2rem;
        text-align: center;
    }
}